/*1*/
div[data-titulo="principal"] h1{
    font-size: 24px;
    color: blue;
}

/*2*/
p.importante{
    font-weight: bold;
}

/*3*/
ul:first-of-type li:last-child{
    background-color: rgb(165, 164, 164);
}

/*4*/
section:first-of-type p.resaltado{
    background-color: yellow;
}

/*5*/
section:nth-of-type(2) h2 + p.resaltado{
    font-family: italic;
}

/*6*/
section:first-of-type h2:first-of-type{
    background: green;
}

/*7*/
section:first-of-type h2:nth-of-type(2){
    background: yellow;
}

/*8*/
section:first-of-type h2:nth-of-type(3){
    background: orange;
}

/*9*/
section:nth-of-type(2) p{
    margin-bottom: 15px;
}

/*10-11*/
h2 + ul > li{
    font-weight: bold;
    background-color: rgb(173, 172, 172);
}


/*12*/
li > a{
    border: 1px solid blue;
}

/*13*/
ul:nth-of-type(2) li:first-child{
    background-color: yellow;
}

/*14*/
ul:nth-of-type(2) li:last-child{
    background-color: green;
}

/*15*/
h1 + p.importante{
text-decoration: underline;
}

/*16*/
div[data-titulo="principal"] p:nth-of-type(3){
    color: purple;
}

/*17*/
#contenedor p:last-of-type{
   border: 1px solid red; 
}

/*18*/
section:nth-of-type(2) p:nth-of-type(2){
font-family: italic;
}

/*19*/
h2 + p.resaltado{
    font-weight: bold;
}

/*20*/
p.importante + p.resaltado{
    background-color: pink;
}

/*21*/
#extra > p{
    background-color: cyan;
}