body{
    background-color:#f5f5f5;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#canvas{
    border: 3px solid;
    border-radius: 10px;
    box-shadow:0 0 5px;
}

#btn{
    margin-top: 10px;
}